name: validate-oas

on: [push]

jobs:
  test_swagger_editor_validator_remote:
    runs-on: ubuntu-latest
    name: Swagger Editor Validator Remote

    steps:
      - uses: actions/checkout@v6
      - name: Validate OpenAPI definition medius-openAPI
        uses: swaggerexpert/swagger-editor-validate@v1
        with:
          definition-file: WebAPI/HttpREST/medius-openAPI.json
          default-timeout: 20000
      - name: Validate OpenAPI definition s2c-openAPI
        uses: swaggerexpert/swagger-editor-validate@v1
        with:
          definition-file: WebAPI/HttpREST/s2c-openAPI.json
          default-timeout: 20000